.wd-quiz-text-padding{
    padding-inline: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.wd-quiz-item-padding {
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}