.wd-quiz-text-padding{
    padding-inline: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.wd-quiz-item-padding {
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wd-unpublished-pencil{
    font-size: 30px;
    color:gray;
}

.wd-unpublished-leftBorder{
    border-left: 2px solid gray !important;
}

.wd-small-button {
    background-color: white;
}